@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

:root{
  --text-color: #ffffff;
  --card-front-color: #144480;
  --card-back-color: #51BBA9;
}

body {
  background: url(img/bg-desktop-blue.webp);
  font-family: Bai Jamjuree;
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
}

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}

.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}